.project
.pydevproject
/.settings/
/.cache/
/.tox/
/htmlcov/
/htmlcov.end2end/
/build/
/build_doc/
/dist/
/AUTHORS
/ChangeLog
/.pytest_cache/
.DS_Store
.ipynb_checkpoints/
.coverage
.venv
.testrepository
MANIFEST
MANIFEST.in
/*.done
/done/*.done
*.log
*.tmp
tmp.*
tmp_*
*,cover
cover
*.pyc
.idea
*.sw?
*~
*.egg
*.eggs
*egg-info
.vagrant
zhmcclient/_version_scm.py
hmccreds.yaml
hmc_definitions.yaml
/try/
session.yml
# Files created by releasenotes build
releasenotes/build
zhmcrc.sh
