.project
.pydevproject
/.settings/
/.cache/
/.tox/
/htmlcov/
/build/
/build_doc/
/dist/
/AUTHORS
/ChangeLog
.ipynb_checkpoints/
.coverage
.venv
.testrepository
*.log
*.tmp
tmp.*
tmp_*
*,cover
cover
*.pyc
.idea
*.sw?
*~
*.egg
*.eggs
*egg-info
.vagrant
hmc*.yaml
/try/
session.yml
# Files created by releasenotes build
releasenotes/build
zhmcrc.sh
