# git mailmap file for consolidating git commit names and email addresses
# For details, see: https://git-scm.com/docs/git-check-mailmap
#
# Format for replacing name and email based upon commit email:
#    Proper Name <proper@email.xx> <commit@email.xx>
#
Andreas Maier <maiera@de.ibm.com> <andreas.r.maier@gmx.de>
Andreas Maier <maiera@de.ibm.com> <andy-maier@users.noreply.github.com>
Andreas Maier <maiera@de.ibm.com> <maiera@de.ibm.com>
Andreas Maier <maiera@de.ibm.com> <MAIERA@de.ibm.com>
Adam Barson <adam.tyler.barson@ibm.com>
Andrew Brezovsky <abrezov@us.ibm.com>
Andrew Brezovsky <abrezov@us.ibm.com> <abrezovsky@gmail.com>
Chaithra Vonteddu <vonteddu.chaithra1@ibm.com> <90314288+vontedduchaithra@users.noreply.github.com>
Edwin Günthner <edwin.guenthner@de.ibm.com>
Edwin Günthner <edwin.guenthner@de.ibm.com> <53468311+EdGue42@users.noreply.github.com>
Juergen Leopold <leopoldj@de.ibm.com>
Marc Hartmayer <mhartmay@de.ibm.com> <mhartmay@linux.ibm.com>
Marcos Araque Fiallos <marcos.araque.fiallos@ibm.com>
Sebastian Mitterle <smitterl@redhat.com> <54858857+smitterl@users.noreply.github.com>
Shreejit Nair <shreejit.nair1@ibm.com> <shreejitnair18@gmail.com>
Sreeram Vancheeswaran <sreeram.vancheeswaran@in.ibm.com> <sree@192.168.1.100>
