# Control file for Travis CI (http://travis-ci.org)
# Must be located in the root directory of the Git repository.

# By default, notification emails are sent to the PR creator and commiter.
notifications:
  email: false

# We define the job matrix explicitly, in order to have a minimum number of
# useful combinations. The disabled combinations will be enabled in a specific
# branch that does not run for every change.
jobs:

  include:

    - os: linux
      language: python
      python: "2.7"
      env:
        - PACKAGE_LEVEL=minimum
      cache: pip

    - os: linux
      language: python
      python: "2.7"
      env:
        - PACKAGE_LEVEL=latest
      cache: pip

#    - os: linux
#      language: python
#      python: "3.4"
#      env:
#        - PACKAGE_LEVEL=minimum
#      cache: pip

    - os: linux
      language: python
      python: "3.4"
      env:
        - PACKAGE_LEVEL=latest
      cache: pip

#    - os: linux
#      language: python
#      python: "3.5"
#      env:
#        - PACKAGE_LEVEL=minimum
#      cache: pip

#    - os: linux
#      language: python
#      python: "3.5"
#      env:
#        - PACKAGE_LEVEL=latest
#      cache: pip

#    - os: linux
#      language: python
#      python: "3.6"
#      env:
#        - PACKAGE_LEVEL=minimum
#      cache: pip

#    - os: linux
#      language: python
#      python: "3.6"
#      env:
#        - PACKAGE_LEVEL=latest
#      cache: pip

#    - os: linux
#      dist: xenial
#      language: python
#      python: "3.7"
#      env:
#        - PACKAGE_LEVEL=minimum
#      cache: pip

#    - os: linux
#      dist: xenial
#      language: python
#      python: "3.7"
#      env:
#        - PACKAGE_LEVEL=latest
#      cache: pip

    - os: linux
      dist: xenial
      language: python
      python: "3.8"
      env:
        - PACKAGE_LEVEL=minimum
      cache: pip

    - os: linux
      dist: xenial
      language: python
      python: "3.8"
      env:
        - PACKAGE_LEVEL=latest
      cache: pip

#    - os: linux
#      language: python
#      python: "pypy"  # currently Python 2.7.13, PyPy 7.1.1
#      env:
#        - PACKAGE_LEVEL=minimum

#    - os: linux
#      language: python
#      python: "pypy"  # currently Python 2.7.13, PyPy 7.1.1
#      env:
#        - PACKAGE_LEVEL=latest

#    - os: linux
#      language: python
#      python: "pypy3"  # currently Python 3.6.1, PyPy 7.1.1-beta0
#      env:
#        - PACKAGE_LEVEL=minimum

#    - os: linux
#      language: python
#      python: "pypy3"  # currently Python 3.6.1, PyPy 7.1.1-beta0
#      env:
#        - PACKAGE_LEVEL=latest

#    - os: osx
#      language: generic
#      python:
#      env:
#        - PACKAGE_LEVEL=minimum
#        - PYTHON=2
#      cache: pip

#    - os: osx
#      language: generic
#      python:
#      env:
#        - PACKAGE_LEVEL=latest
#        - PYTHON=2
#      cache: pip

#    - os: osx
#      language: generic
#      python:
#      env:
#        - PACKAGE_LEVEL=minimum
#        - PYTHON=3
#      cache: pip

#    - os: osx
#      language: generic
#      python:
#      env:
#        - PACKAGE_LEVEL=latest
#        - PYTHON=3
#      cache: pip

# Note: The public Travis specifies the CPU architecture via 'arch', while
#       Travis@IBM still specifies it via 'os'. Because Travis@IBM does not
#       yet support 'if', it runs the jobs targeted for the public Travis
#       using the default CPU architecture (x86_64), which is an extra run
#       of the same env that already ran, but does not cause a problem.
#       Because Travis@IBM does not show the CPU architecture in the build
#       listing, we set an ARCH variable as a replacement. It is not used
#       otherwise.

# Note: The conditions to distinguish Travis@IBM and the public Travis
#       should be done using:
#         if: env(TRAVIS_APP_HOST) = travis-build.whitewater.ibm.com
#         if: env(TRAVIS_APP_HOST) = build.travis-ci.org
#       but that does not work, so for now we use:
#         if: container=docker  # -> Travis@IBM

    - if: env(container) = docker  # Travis@IBM
      os: linux-s390
      language: python
      python: "3.8"
      env:
        - PACKAGE_LEVEL=latest
        - ARCH=s390x
      cache: pip

    - if: env(container) != docker  # Public Travis
      arch: s390x
      os: linux
      language: python
      python: "3.8"
      env:
        - PACKAGE_LEVEL=latest
      cache: pip

#    - if: env(container) = docker  # Travis@IBM
#      os: linux-ppc64le
#      language: python
#      python: "3.8"
#      env:
#        - PACKAGE_LEVEL=latest
#        - ARCH=ppc64le
#      cache: pip

#    - if: env(container) != docker  # Public Travis
#      arch: ppc64le
#      os: linux
#      language: python
#      python: "3.8"
#      env:
#        - PACKAGE_LEVEL=latest
#      cache: pip

before_install:
  - env | sort

  - if [[ "$TRAVIS_BRANCH" == "manual-ci-run" ]]; then
      export _NEED_REBASE=true;
    fi
  - if [[ -n $_NEED_REBASE ]]; then git fetch origin master; fi
  - if [[ -n $_NEED_REBASE ]]; then git branch master FETCH_HEAD; fi
  - if [[ -n $_NEED_REBASE ]]; then git rebase master; fi
  - git branch -av

# commands to install dependencies
install:
  - which python
  - python --version
  - if [[ "$TRAVIS_BRANCH" == "manual-ci-run" || "$TRAVIS_PULL_REQUEST_BRANCH" == "manual-ci-run" ]]; then
      export _MANUAL_CI_RUN=true;
    fi
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      if [[ ${PYTHON:0:1} == '2' ]]; then
        OSX_PYTHON_PKG=python;
        OSX_PYTHON_CMD=python;
      else
        OSX_PYTHON_PKG=python3;
        OSX_PYTHON_CMD=python3;
      fi;
      which $OSX_PYTHON_CMD || brew install $OSX_PYTHON_PKG;
    fi

  # Reason for setting up a Python virtualenv on OS-X:
  # Some Ansible scripts are invoked directly from the cloned Ansible repo
  # directory, so their hashbang is '/usr/bin/env python'. This requires
  # that the 'python' command and environment is the desired one. On OS-X,
  # when installing Python 3, only the 'python3' command invokes Python 3,
  # but the 'python' command invokes Python 2. Therefore, a virtualenv is
  # needed in which the desired Python version is available as the
  # 'python'. command. Travis does not set up a virtualenv on its OS-X
  # machines, so we need to do that here.
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      pip install virtualenv;
      VENV=$HOME/virtualenv/$OSX_PYTHON_CMD;
      virtualenv -p $OSX_PYTHON_CMD $VENV;
      source $VENV/bin/activate;
    fi

  - which python
  - python --version
  - which pip
  - pip --version
  - pip list
  - make install
  - pip list
  - make develop
  - pip list
  - pip install python-coveralls
  - pip list

# commands to run builds & tests
script:
  - make check
  - if [[ -n $_MANUAL_CI_RUN ]]; then make pylint; fi
  - make test
  - make build
  - make builddoc

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "2.7" && "$PACKAGE_LEVEL" == "latest" && -z $_MANUAL_CI_RUN ]]; then
      coveralls;
    fi
