# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

-r requirements.txt

# Unit test:
pytest>=2.4 # MIT
pytest-cov # BSD
mock # BSD
requests-mock>=1.0 # Apache-2.0
testfixtures # Apache-2.0

# Sphinx:
# Note: The ordereddict package is a backport of collections.OrderedDict
#       to Python 2.6 and earlier. OrderedDict is needed by GitPython, which
#       is needed by sphinx-git.
Sphinx>=1.3 # BSD
ordereddict ; python_version < '2.7' # MIT
GitPython>=2.0.6 # BSD
sphinx-git  # GPL

# PyLint:
# Astroid is used by Pylint. Astroid 1.3 and above, and Pylint 1.4
# and above no longer work with Python 2.6, and have been removed
# from Pypi in 2/2016 after being available for some time.
# Therefore, we cannot use Pylint under Python 2.6.
# Also, Pylint does not support Python 3.
astroid ; python_version == '2.7'
pylint ; python_version == '2.7'

# Flake8:
flake8>=2.0 # MIT

# Twine: Needed for uploading to Pypi
twine # Apache-2.0

# Jupyter Notebook
jupyter # BSD

# Examples:
PyYAML # MIT
stomp.py # Apache

