# Pip requirements file for install dependencies of extra 'testutils'.

# Note: The dependencies in this file will become the additional dependencies
# stated in the Pypi package metadata for extra 'testutils'.


# Direct dependencies for install of extra 'testutils' (must be consistent with minimum-constraints-install.txt)

# zhmcclient.testutils defines pytest fixtures:
pytest>=6.2.5

# Packages used by zhmcclient.testutils that are also used by zhmcclient and thus
# are specified already in requirements.txt:
# - yaml
# - yamlloader
# - jsonschema
