# Pip requirements file for a minimal example that reproduces the fact
# that Mend Renovate does not consider python_version constraints.
#
# This project requires Python>=3.8 as per its pyproject.toml file.
#
# Here are the Python versions required by docutils, as per its package
# metadata:
# docutils 0.18.1 requires Python >=2.7 or >=3.5
# docutils 0.20.1 (last before 0.21) requires Python >=3.7
# docutils 0.21.2 requires Python >=3.9

docutils>=0.18.1,<0.21; python_version == '3.8'
docutils>=0.18.1; python_version >= '3.9'
